
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.sconsign.dblite
.tags*
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/.generated/
**/.symlinks/
**/.vagrant/
**/*sync/
**/DerivedData/
**/dgph
**/Pods/
# Exceptions to above rules.
build/
Flutter/app.flx
Flutter/App.framework
Flutter/app.zip
Flutter/ephemeral/
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Icon?
profile
Runner/GeneratedPluginRegistrant.*
ServiceDefinitions.json
xcuserdata
